.direction-area,
.vertical-area,
.room-direction-area {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.anno-area, .child-title, .room-list-area, .background-header, #svg-object {
  animation-name: arise;
  animation-duration: 0.8s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.79, 0.04, 1, 1);
}

@keyframes slidein {
  from {
    margin-top: 100%;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes shrink {
    from {
        object-fit: contain;
    }

    75% {
        object-fit: cover;
    }

    to {
        object-fit: none;
    }
}

@keyframes arise {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
