.direction-area,
.vertical-area,
.room-direction-area {
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.anno-area,
.child-title,
.room-list-area,
.background-header,
#svg-object,
.showcase-thumbnail > .review {
  animation-name: arise;
  animation-duration: 0.8s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.79, 0.04, 1, 1);
}

.showcase-thumbnail > .review {
  animation: arise 0.8s ease-out 0.12s 1 normal forwards;
}

.attachment-area:hover {
  animation: arise 0.3 ease-in 0 1 normal normal;
}

/* .showcase-thumbnail > .review {
    animation: moveout 0.4s ease-out 0.12s 1 normal forwards;
  } */

@keyframes slidein {
  from {
    margin-top: 100%;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes arise {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movein {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveout {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}
