#svg-object {
  position: absolute;
  top: 0;
  background-size: contain;
  opacity: 0;
}
object {
  position: relative;
  top: inherit;
  background-size: contain;
}
.background-header {
  background-image: url("../images/bg.jpg");
  height: 969px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}
body {
  margin: 0;
}
.container {
  padding: 5vh;
}
.main-title h1 {
  font-family: NotoSerif;
  line-height: 1.6;
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0.5rem;
  user-select: none;
  color: #0058c3;
  font-size: 22px;
}
.main-area {
  padding-top: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 1.5vh;
}
.vertical-area {
  opacity: 0;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 2vh;
  min-width: 350px;
  max-width: 685px;
}
.info-area {
  min-width: 360px;
  max-width: 500px;
  width: 450px;
  margin: 2vh;
  padding: 1.5vh;
  display: flex;
  flex-flow: column wrap;
}
.selection-area {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.child-title {
  padding: 0;
  margin: 1vh 0;
  line-height: 1vh;
}
.child-title h3 {
  -webkit-tap-highlight-color: transparent;
  text-align: left;
  font-family: NotoSerif;
  list-style: none;
  pointer-events: auto;
  box-sizing: border-box;
  margin-top: 0;
  user-select: none;
  color: #0058c3;
  font-size: 15px;
  line-height: inherit;
  margin-bottom: 20px;
}
.anno-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.anno-area p {
  line-height: 1vh;
  flex: 1 1 225px;
}
.anno-area p span {
  padding: 0.75vh 1.5vh;
  border-top-right-radius: 10px;
  margin: 0 1vh 0 0;
}
.anno-area p:first-child span {
  background-color: #86cdc5;
}
.anno-area p:nth-child(2) span {
  background-color: #f2b880;
}
.anno-area p:nth-child(3) span {
  background-color: #c1d3e7;
}
.anno-area p:last-child span {
  background-color: #547739;
}
.direction-area {
  opacity: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 1vh;
}
.room-list-area {
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
  color: #212529;
  font-family: NotoSerif;
  line-height: 1.6;
  font-size: 14px;
  list-style: none;
  pointer-events: auto;
  text-align: center;
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  overflow: overlay;
}
.room-direction-area {
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  color: #212529;
  text-align: left;
  font-family: NotoSerif;
  list-style: none;
  pointer-events: auto;
  box-sizing: border-box;
  margin-top: 0;
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 14px;
}
.main-select {
  padding: 1vh;
  font-family: serif;
}
.main-select:hover {
  cursor: pointer;
}
#amaz-btn {
  position: absolute;
  bottom: 2.5vh;
  left: 2.5vh;
  text-decoration: none;
  color: orange;
}
#amaz-btn::before {
  content: "<<";
}
.showcase-thumbnail {
  min-width: 350px;
  max-width: 700px;
  width: 100%;
  height: 100%;
}
.showcase-thumbnail > .review {
  display: none;
  width: 100%;
  opacity: 0;
}
.showcase-thumbnail > .review > img {
  width: 100%;
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 768px) {
  .vertical-area.room {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .main-area {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .showcase-thumbnail>.review>img {
    width: 350px;
  }
  .showcase-thumbnail>.review {
    text-align: center;
  }
  .info-area {
    width: 350px;
  }
  .selection-area {
    justify-content: flex-start;
    align-items: unset;
  }
}
